/* --- Global Styles --- */
body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 6px;
    color: #000 !important;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.nav-link {
    font-family: 'Advent Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: 0.75rem;
    letter-spacing: 2px;
    color: #555 !important;
    white-space: nowrap;
}


/* Ensure the divider matches */
.border-start {
    border-color: #ddd !important;
}

.active-link {
    color: #000 !important;
    font-weight: bold;
}


/* Specific Mobile Fixes */
@media (max-width: 480px) {
    .navbar-brand {
        letter-spacing: 3px;
        font-size: 1rem;
    }
    
    .nav-link {
        font-size: 0.65rem;
        letter-spacing: 1px;
    }

    .gap-3 {
        gap: 0.5rem !important; /* Tighter spacing for small screens */
    }
}



 @media (max-width: 768px) {
  .site-logo img {
    height: 50px !important;
    width: auto !important;
  }

  .navbar-brand {
    font-size: 1rem !important;
    letter-spacing: 4px !important;
    text-align: center;
  }

  .navbar-nav {
    flex-wrap: wrap;
    gap: 1rem !important;
  }
}

@media (max-width: 460px) {

  .navbar-brand {
    font-size: 0.9rem !important;
    letter-spacing: 3px !important;
    margin-bottom: 6px;
  }
  .navbar-nav {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    gap: 0.8rem !important;
  }

  .nav-link {
    font-size: 0.75rem !important;
    letter-spacing: 2px !important;
    white-space: nowrap;
    padding: 0 !important;
  }
}

/* for cards */

#projectContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px; /* Counteracts padding for alignment */
    
}

.card {
    border: none;
    background: none;
    transition: transform 0.3s ease;
    padding: 10px;
}

.card:hover {
    transform: translateY(-5px);
    scale: 1.05;
    box-shadow: 10px 15px 15px #00000041;
}

.card img {
    height: 200px;
    /* width: 100%; */
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 6px;
    transition: filter 0.3s ease;
}

.card:hover img {
    filter: brightness(80%);
}
